@page "/"
@inject NavigationManager Navigation

<h1>Atividades</h1>

<table class="table">
	<thead>
			<tr>
			<th>Nome</th>
			</tr>
	</thead>
	<tbody>
		<tr>
			<td>Atividade 1</td>
		</tr>
		
		

	</tbody>


</table>

<button @onclick="NovaAtividade">Adicionar Atividade</button>
<button @onclick="FecharAplicativo">Sair</button>



@code {
	private void NovaAtividade()
	{
		Navigation.NavigateTo("/nova");
	}

	private void FecharAplicativo()
	{
		#if ANDROID
		Application.Current.Quit();

		#elif WINDOWS
		Application.Current.Quit();
											
		#endif	
		
	}
}