@page "/"

<br />
<br />
<h1>Atividades</h1>

<table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var atividade in new AtividadeService().Carregar())
		{
			<tr class="@((atividade == atividadeSelecionada ? "selecionada" : ""))">
				<td>@atividade.nome</td>
				<td>@if (atividade == atividadeSelecionada)
					{
						<button class="btn btn-danger" @onclick="() => Selecionar(atividade)">❌Cancelar Seleção</button>
					}
									
				</td>
			</tr>
		}

	</tbody>
</table>

<br />
<br />

<button class="btn btn-primary" @onclick="NovaAtividade">➕Adicionar Atividade</button>
<button class="btn btn-secondary" @onclick="FecharAplicativo">Sair</button>



@code {
	private Atividade? atividadeSelecionada;

	private void Selecionar(Atividade a)
	{
		if (a == atividadeSelecionada)
		{
			atividadeSelecionada = null;
		}

		else
		{
			atividadeSelecionada = a;
		}
	}

	private void NovaAtividade()
	{
		Navigation.NavigateTo("/nova");
	}

	private void FecharAplicativo()
	{
#if ANDROID
		Application.Current.Quit();

#elif WINDOWS
		Application.Current.Quit();

#endif
	}

	private void ExcluirAtividade(Atividade a)
	{
		new AtividadeService().Remover(a);
		if (a == atividadeSelecionada)
		{
			atividadeSelecionada = null;
		}
	}
}