@page "/"

<h1>Atividades</h1>

<table>
	<thead>
			<tr>
			<th>Nome</th>
			</tr>
	</thead>
	<tbody>
		<tr>
			<td>Atividade 1</td>
		</tr>
		
		

	</tbody>


</table>

<button @onclick="NovaAtividade">Adicionar Atividade</button>
<button @onclick="FecharAplicativo">Sair</button>



@code {
	private void NovaAtividade()
	{
		// Lógica para adicionar uma nova atividade
	}

	private void FecharAplicativo()
	{
		// Lógica para fechar o aplicativo
	}
}